{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block main %}
    <div class="col-8 offset-2">

        <h2>Commentaire par {{ comment.userlauncherid.username }} sur {{ comment.usertargetid.username }}</h2>

        <p>{{ comment.content }}</p>

        <div class="row">
            <div class="col-4">
                <form action="{{ path('commentAdminDelete') }}" method="get">
                    <input type="hidden" value="{{ comment.id }}" name="comment_id">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </div>
            <div class="col-4">
                <form action="../offense/{{ comment.id }}/{{ comment.userlauncherid.id }}" method="post">
                    <button class="btn btn-warning">Alerter {{ comment.userlauncherid.username }}</button>
                </form>
            </div>
            <div class="col-4">
                <form action="" method='post'>
                    <input type="hidden" value="{{ comment.userlauncherid.id }}">
                    <button class="btn btn-secondary">Fiche de {{ comment.userlauncherid.username }}</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
